apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ${{values.application.split("/")[1]}}-${{ values.api_id }}-api-pipeline
  namespace: openshift-gitops
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    system: ${{values.application.split("/")[1]}}
spec:
  project: default
  source:
    repoURL: https://github.com/elc-rhdh-playground/developer-charts
    targetRevision: HEAD
    path: api-specification-pipeline
    helm:
      values: |
        domain: elc-rhdh-playground
        system: ${{ values.application.split("/")[1] }}
        component: ${{ values.api_id }}
        groupid: ${{ values.group_id }}
        apicurioRegistry: ${{ values.service_registry_provider_url | replace('https://', '') }}
        mockRegistry: ${{ values.mock_provider_url | replace('https://', '') }}
  destination:
    server: https://kubernetes.default.svc
    namespace: ${{values.application.split("/")[1]}}-build
  syncPolicy:
    automated: 
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=false
    - RespectIgnoreDifferences=true
    - ApplyOutOfSyncOnly=true
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 10m
